[data-testid=stHorizontalBlock] [data-testid=column]
{
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

[data-testid=column] [data-testid=stVerticalBlock]
{
    gap: 0rem;
}